<div class="container">
  <h1 class="text-center">Pick your Doggo</h1>

  <% @dogs.each do |dog| %>
    <div class="card-product my-2">
      <img src="https://images.unsplash.com/photo-1590419690008-905895e8fe0d?q=80&w=2672&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <div class="card-product-infos">
        <%= link_to dog.name, dog_path(dog) %>
        <p>Size: <%= dog.size %></p>
        <p>Location: <%= dog.address %></p>
        <p>Cute doogo awaits you<strong>to walk and Woof Woof</strong>.</p>
      </div>
    </div>
  <% end %>
</div>
