<h1 class="text-center">Welcome to Rent a Dog!</h1>

<div class="text-center">
  <img src="https://images.pexels.com/photos/3114143/pexels-photo-3114143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2" height="600" class="img-fluid">
</div>

<div class="text-center mt-3">
  <%= link_to "Browse Dogs", dogs_path, class: "btn btn-primary" %>
</div>
