<h2>My bookings</h2>
<div class="card-product">
  <% if @dog && @dog.image %>
    <%= cl_image_tag @dog.image.key, height: 300, width: 300, class: 'rounded-circle object-fit-cover', alt: "dog" %>
  <% else %>
    <p>No dog image available.</p>
  <% end %>

  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>

    <% @my_bookings.each do |booking| %>
      <div>
        <%= booking.start_date %> - <%= booking.end_date %>
      </div>
    <% end %>
  </div>
</div>
